.dashboard-layout {
    display: flex;
    min-height: 100vh;

    &__main {
        flex: 1;
        display: flex;
        flex-direction: column;
        background: #f5f7fa;
    }

    &__content {
        padding: 20px 30px;
        flex: 1;
        overflow-y: auto;
    }
}